@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

:root{

    /* Colors */

    --hue-color: 33;

    --first-color: hsl(var(--hue-color), 91%, 50%);
    --second-color: #F2B90C;
    --dark-color: #222121fd;

    --main-title: 2rem;

    --section-margin: 2rem;
}

/* Global Classes */

.section{
    height: 100vh;
}

.span__contrast{
    color: var(--first-color);
    font-weight: 600;
}

*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* HEADER */

.navbar{
    background-color: var(--dark-color);
    align-items: center;
    height: 10vh;
}

.header__logo{
    color: var(--first-color);
    padding-left: 2rem;
    height: 100%;
}

.navbar-menu{
    padding-right: 2rem;
}

.navbar-item{
    color: #fff;
    letter-spacing: 2px;
}

.navbar-burger span{
    background-color: #fff;
}

/* HOME */

#section{
    height: 90vh;
    position: relative;
    padding: 0;
    background-color: black;
}

.home__bg{
    background-image: url(./img/bg-home.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
}

.home__data{
    position: absolute;
    bottom: 6rem;
    padding-left: 2rem;
}

.title{
    font-size: 3rem;
    color: white;

}

.subtitle{
    color: white;

}




