@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

:root{
    --hue-color: 33;

    --first-color: hsl(var(--hue-color), 91%, 50%);
    --second-color: #F2B90C;
    --dark-color: #222121be;
    --title-color: #000;

    --main-title: 2rem;

    --section-margin: 2rem;
}

/* Reset styles */
*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--dark-color);
}

ul{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 1.5rem;
}

/* Global Classes */

.bi{
    transition: .5s;
}

.span__contrast{
    color: var(--first-color);
    font-weight: 600;
}

.section__title{
    color: var(--title-color);
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 1rem;
}

.section__subtitle{
    text-align: center;
    margin-bottom: 1rem;
}

.text__description{
    text-align: center;
    color: var(--dark-color);
    margin: 1rem;
}

/* HEADER */
.navbar{
    background-color: var(--dark-color);
    align-items: center;
    height: 10vh;
}

a.navbar-item:hover{
    color: var(--first-color);
    background-color: transparent;
}

.navbar-menu.is-active{
    background-color: var(--dark-color);
    text-align: center;
}

.navbar-burger span{
    background-color: var(--second-color);
}

.header__logo{
    color: var(--first-color);
    margin-top: .3rem;
    font-size: 1.5rem;
    padding-left: 2rem;
}

.navbar-burger{
    margin-top: .3rem;
}

.navbar-menu{
    padding-right: 2rem;
    
}

.navbar-item{
    color: #fff;
    letter-spacing: 2px;
    transition: .3s;
}
/* HOME */

#home{
    position: relative;
    padding: 0;
    height: 100vh;
}

.home__bg{
    background-image: url(./img/bg-home_fundo.jpg);
    background-size: cover;
    background-position: center;
    /* background-color: var(--dark-color); */
    height: 100vh;
}

.home__data{
    position: absolute;
    bottom: 6rem;
    padding-left: 2rem;
}

.title{
    font-size: 3rem;
    color: white;

}

.subtitle{
    color: white;
}

.home__button{
    background-color: #F2B90C;
    border: none;
    color: var(--dark-color);
    font-weight: 600;
    letter-spacing: 2px;
    transition: .3s;
}

.home__button:hover{
    opacity: .8;
}

/* ABOUT CROSS */

#about__cross{
    height: 50vh;
}
.about__bg{
    display: none;
}
.about__container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

.about__box{
    display: flex;
    flex-direction: column;
}

.about__icon{
    text-align: center;
    color: var(--second-color);
    font-size: 2rem;
}

.about__icon-span{
    color: rgba(0, 0, 0, 0.671);
}

/* CROSS FOR ME? */

.aboume__box{
    display: flex;
    margin: 1.5rem;
    text-align: center;
}

.aboutme__icon{
    display: flex;
    align-items: center;
    margin-right: 1rem;
    color: var(--first-color);
    font-size: 2rem;
}

/* COACH */

#coach h2{
    margin-bottom: 0;
}

.aboutus__img{
    display: flex;
}

.aboutus__icons{
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.aboutus__icon{
    color: var(--first-color);
    font-size: 1.2rem;
    margin: 2rem;
}

.aboutus__icons a{
    padding-top: 1rem;
}

.aboutus__img-coach{
    width: 300px;
    border-radius: 5%;
    text-align: center;
}

.bi-whatsapp:hover{
    color: green;
}
.bi-instagram:hover{
    color: orangered;
}

.bi-envelope:hover{
    color: red;
}
.bi-facebook:hover{
    color: blue;
}

/* testimonials */

.testimonial__data,
.testimonial__header{
    display: flex;
}

.testimonial__data{
    justify-content: space-between;
    margin-bottom:1rem;
}

.testimonial__img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: .75rem;
}

.testimonial__name{
    font-size: 1.5rem;
    color: var(--title-color);
}

.testimonial__client{
    font-size: 1rem;
    color: var(--title-color);

}

.testimonial__description{
    margin-bottom: 2rem;
}

.testimonial__icon-star{
    color: var(--first-color);
}

/* CONTATO */

.input:hover,
.textarea:hover{
    border-color: var(--first-color);
}

#contactUs .container{
    display: flex;
    flex-direction: column;
}

.contact__content-data{
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 10px 20px rgba(128,128,128, .25);
}

.contact__box{
    margin: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.contact__box-title{
    display: flex;
}

.contact__box-title i{
    color: var(--second-color);
    font-size: 1.5rem;
}

.contact__info-title{
    color: #000;
    margin-left: .5rem;
    font-size: 1.5rem;
}

.contact__info-subtitle{
    color: rgba(0, 0, 0, 0.616);
    font-size: 1rem;
}

#contactUs .home__button{
    margin-top: 1rem;
}

/* FOOTER */

.footer{
    background-color: var(--dark-color);
}

.footer .content{
    display: flex;
    justify-content: space-around;
}

.footer__img-container{
    width: 150px;
    border: 1px solid rgba(0, 0, 0, 0.342);
}

.footer__list a{
    color: #fff;
}
.footer__list a:hover{
    color: rgb(173, 169, 169);
}

.footer__icons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer__icons i {
    color: #fff;
    cursor: pointer;
}
/* Scroll bar */
::-webkit-scrollbar{
    width: .60rem;
    background-color: rgba(126, 122, 122, 0.185);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
    background-color: var(--second-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--first-color);
}



