@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

/* HEADER */
.mobile-menu{
    cursor: pointer;
    display: none;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #FD3706;
    margin: 8px;
    transition: .3s;
}

.header{
    position: fixed;
    top: 0;
    height: 10vh;
    width: 100vw;
    display: flex;
    background-color: black;
}

.logo{
    margin-left: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FD3706;
}

.logo a{
    color: #FD3706;
}

.main-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-ul{
    display: flex;
    margin-right: 200px;
}

.main-ul li{
    margin-left: 80px;
    transition: all .5s;
}

a{
    transition: .5s;
}

a:hover{
    opacity: .5;
}

.main-ul li a{
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* BACKGROUND HEADER */

.bg-main{
    height: 100vh;
    background-color: #131314;
    color: white;
}

.bg-container{
    padding-top: 10vh;
    height: 100%;
    display: flex;
}

.bg-info{
    width: 55%;
    height: 100%;
    padding-top: 200px;
    padding-left: 100px;
}

.bg-img{
    width: 45%;
    height: 100%;
    border: 1px solid white;
}

.bg-title{
    font-size: 5em;
    letter-spacing: 5px;
    font-weight: lighter;
}

.bg-color{
    color: #FD3706;
    font-weight: 600;
}

.bg-p{
    letter-spacing: 1px;
    margin: 20px 0px;
}

.bg-button{
    background: none;
    border-radius: 15px;
    padding: 10px 40px;
    box-shadow: none;
    border-color: #FD3706;
    color: transparent;
    cursor: pointer;
}

.bg-button a{
    background-color: none;
    color: white;
}

/* QUEM SOMOS */

.position-center{
    max-width: 950px;
    margin: auto;
}

#quem-somos{
    height: 100vh;
}

.quemSomos-title{
    margin: 20px;
    text-align: center;
    font-size: 2em;
    font-weight: lighter;
}

.quemSomos-p{
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-align: center;
}

.quemSomos-img{
    width: 100%;
    height: 300px;
    border:2px solid black;
    margin-top: 70px;
}

@media (max-width:999px){
    body{
        overflow-x: hidden;
    }
    
    .main-ul{
        position: absolute;
        margin: 0;
        top: 10vh;
        right: 0;
        width: 50vw;
        height: 90vh;
        background: black; 
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in ;
    }

    .main-ul li{
        margin-left: 0;
    }

    .mobile-menu{
        display: block;
        margin-right: 10px;
    }

    .main-ul.active{
        transform: translateX(0);
        position: fixed;
        top: 10vh;
    }

    .bg-info{
        padding-left: 50px;
    }

    #quem-somos{
        padding: 20px;
    }
     
}

.mobile-menu.active .line1{
    transform: rotate(-135deg) translate(-8px,-11px);
}
.mobile-menu.active .line2{
    opacity: 0;
}
.mobile-menu.active .line3{
    transform: rotate(135deg) translate(-5px, 7px);
}
